@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #F3F4F6;
}
@media (prefers-color-scheme: dark){
  ::-webkit-scrollbar-track {
    background: #0F172A;
  }
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #E5E7EB;
  border-radius: 3px;
}
@media (prefers-color-scheme: dark){
  ::-webkit-scrollbar-thumb {
    background: #334155;
    border-radius: 3px;
  }
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}